.slider-main {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }

  .slide-caption {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba($brand-color-secondary, .35);

    h3 {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 0;
      padding: 2rem 3rem;

      &::after{
        content: "";
        display: block;
        height: 1px;
        border-bottom: 1px solid $brand-color-primary;
        width: 30%;
        margin: 0 auto;
      }
    }

    p {
      font-size: 2rem;
      padding: 1rem 3rem;
    }

    .slide-triangle {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 240px thin;
      border-color: transparent transparent #fff transparent;
    }
  }
}
