<footer class="footer">
  <div class="container">
    <img class="bottom-logo" src="./assets/images/logo-white.png" alt=""/>
    <div class="break-line"></div>
    <div class="row">
      <div class="col-md-5">
        <p><span class="location">BTLK Him Lam Vạn Phúc, P. Vạn Phúc<br/>Q. Hà Đông, TP Hà Nội</span></p>
      </div>
      <div class="col-md-4">
        <p><a class="phone">(+84) 336 5959 59</a></p>
        <p>
          <a class="email">infor@tbim.com.vn</a>
        </p>
      </div>
      <div class="col-md-3">
        <p><i class="fas fa-globe"></i> <a href="#">tbim.com.vn</a></p>
        <div>
          <p class="d-inline small mb-2 font-weight-bold">Follow us:</p>
          <ul class="social-links">
            <li><a href="#" class="facebook" title="Facebook"></a></li>
            <li><a href="#" class="zalo" title="Zalo"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
