<!DOCTYPE html>
<html lang="en-US">

<head>
  <!-- Basic page info -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>Thanh Bình Investment</title>

  <!-- Website icon -->
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />

  <!-- Meta information -->
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />

  <!-- Social media (frontend only) -->
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:locale" content="en_US" />

  <!-- Fonts -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->
</head>

<body>
  <div class="top-head">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <span class="phone">(+84) 336 5959 59</span> <span class="phone">(+84) 79 555 5959</span>
        </div>
        <div class="col-md-3">
          <div class="social-media order-lg-last">
            <p class="mb-0 d-flex">
              <a href="#" title="Email" class="d-flex align-items-center justify-content-center">
                <span class="far fa-envelope"><i class="sr-only">Email</i></span>
              </a>
              <a href="#" title="Facebook" class="d-flex align-items-center justify-content-center">
                <span class="fab fa-facebook-f"><i class="sr-only">Facebook</i></span>
              </a>
              <a href="#" title="Zalo" class="d-flex align-items-center justify-content-center">
                <span class="zalo"><i class="sr-only">Zalo</i></span>
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-4 text-md-right">
          <div class="languages"><a class="flag vi" href="#" title="Tiếng Việt">&nbsp;</a><a class="flag en" href="#" title="English">&nbsp;</a></div>
        </div>
      </div>
    </div>
  </div>
  <header>
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html" title="Home">
          <img src="assets/images/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
          aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto mr-md-3 js-nav-primary">
            <li class="nav-item">
              <a href="./gioi-thieu.html" class="nav-link">Giới Thiệu</a>
            </li>
            <li class="nav-item">
              <a href="./dich-vu.html" class="nav-link">Dịch Vụ</a>
            </li>
            <li class="nav-item">
              <a href="./goc-nhin.html" class="nav-link">Góc nhìn TBI</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Quan hệ nhà đầu tư</a>
            </li>
            <li class="nav-item">
              <a href="./lien-he.html" class="nav-link">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

</html>
