<!DOCTYPE html>
<html lang="en-US">

<head>
  <!-- Basic page info -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>Thanh Bình Investment</title>

  <!-- Website icon -->
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />

  <!-- Meta information -->
  <meta name="author" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="index, follow" />

  <!-- Social media (frontend only) -->
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:locale" content="en_US" />

  <!-- Fonts -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->
</head>

<body>
  <div class="top-head">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <span class="phone">(+84) 336 5959 59</span> <span class="phone">(+84) 79 555 5959</span>
        </div>
        <div class="col-md-3">
          <div class="social-media order-lg-last">
            <p class="mb-0 d-flex">
              <a href="#" title="Email" class="d-flex align-items-center justify-content-center">
                <span class="far fa-envelope"><i class="sr-only">Email</i></span>
              </a>
              <a href="#" title="Facebook" class="d-flex align-items-center justify-content-center">
                <span class="fab fa-facebook-f"><i class="sr-only">Facebook</i></span>
              </a>
              <a href="#" title="Zalo" class="d-flex align-items-center justify-content-center">
                <span class="zalo"><i class="sr-only">Zalo</i></span>
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-4 text-md-right">
          <div class="languages"><a class="flag vi" href="#" title="Tiếng Việt">&nbsp;</a><a class="flag en" href="#" title="English">&nbsp;</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar 14 -->
  <header>
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html" title="Home">
          <img src="assets/images/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
          aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto mr-md-3 js-nav-primary">
            <li class="nav-item">
              <a href="./gioi-thieu.html" class="nav-link">Giới Thiệu</a>
            </li>
            <li class="nav-item">
              <a href="./dich-vu.html" class="nav-link">Dịch Vụ</a>
            </li>
            <li class="nav-item">
              <a href="./goc-nhin.html" class="nav-link">Góc nhìn TBI</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Quan hệ nhà đầu tư</a>
            </li>
            <li class="nav-item">
              <a href="./lien-he.html" class="nav-link">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Menu offcanvas
    <header class="bg-dark">
        <div id="device-size-detector">
            <div id="xs" class="d-block d-sm-none"></div>
            <div id="sm" class="d-none d-sm-block d-md-none"></div>
            <div id="md" class="d-none d-md-block d-lg-none"></div>
            <div id="lg" class="d-none d-lg-block d-xl-none"></div>
            <div id="xl" class="d-none d-xl-block"></div>
        </div>
        <nav class="navbar navbar-expand-lg js-navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-inline-block mr-2"
                    viewBox="0 0 118 94" role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                            fill="currentColor"></path>
                    </svg>
                </a>
                <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar-offcanvas-collapse js-navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="./index.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Switch account</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Settings</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    -->
</body>

</html>
