<!-- Part: Header -->
<include>_header.html</include>
<div class="slider-main">
  <div class="position-relative">
    <div class="slide-caption d-flex">
      <div class="container align-self-center">
        <p>
          “Chúng ta không mua bán cổ phiếu để kiếm lời.<br/>Chúng ta tìm doanh nghiệp tốt để đồng hành.”
        </p>
      </div>
      <div class="slide-triangle"></div>
    </div>
    <img src="assets/temp/gioi-thieu.jpg" alt="" />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-outline-primary btn-lg mb-5">HỢP TÁC ĐẦU TƯ</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-primary btn-lg mb-5">TƯ VẤN ĐẦU TƯ</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-primary btn-lg mb-5">KHOÁ HỌC ĐẦU TƯ</button>
    </div>
  </div>
</div>
<!-- Part: Footer -->
<include>_footer.html</include>
