<!-- Part: Header -->
<include>_header.html</include>
<div class="slider-main">
  <div class="position-relative">
    <div class="slide-caption d-flex">
      <div class="container align-self-center">
        <p>
          “Chúng ta không mua bán cổ phiếu để kiếm lời.<br/>Chúng ta tìm doanh nghiệp tốt để đồng hành.”
        </p>
      </div>
      <div class="slide-triangle"></div>
    </div>
    <img src="assets/temp/gioi-thieu.jpg" alt="" />
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-4">
      <a href="#div_1" class="btn btn-outline-primary btn-lg mb-5 scrollTo">HỢP TÁC ĐẦU TƯ</a>
    </div>
    <div class="col-4">
      <a href="#div_2" class="btn btn-outline-primary btn-lg mb-5 scrollTo">TƯ VẤN ĐẦU TƯ</a>
    </div>
    <div class="col-4">
      <a href="#div_3" class="btn btn-outline-primary btn-lg mb-5 scrollTo">KHOÁ HỌC ĐẦU TƯ</a>
    </div>
  </div>
  <div class="border-bottom mb-4" id="div_1">
    <h3 class="text-secondary">HỢP TÁC ĐẦU TƯ</h3>
    <div class="lead">
      <p class="mb-0 font-weight-bolder">ASSET MANAGEMENT</p>
      <p>Là Hình thức quản lý tài sản mà qua đó, TBI sẽ thực hiện đầu tư giúp khách hàng.Lợi ích - rủi ro, quyền lợi - nghĩa vụ của khách hàng và các đối tác TBI sẽ được làm rõ qua các điều khoản khi ký kết hợp đồng.</p>
      <p class="mb-0 font-weight-bolder">QUYỀN LỢI:</p>
      <ul class="mb-3">
        <li>-	Tiết kiệm thời gian và chi phí đầu tư cho khách hàng.</li>
        <li>-	Các doanh nghiệp sẽ được đội ngũ sàng lọc kỹ trước khi đầu tư.</li>
        <li>-	Quản trị rủi ro sát sao danh mục đầu tư.</li>
      </ul>
      <p class="mb-0 font-weight-bolder">TRÁCH NHIỆM:</p>
      <ul class="mb-3">
        <li>-	Hàng tháng, TBI sẽ gửi báo cáo cập nhật tài sản ròng qua mail để anh chị có thể theo dõi.</li>
        <li>-	Hệ thống dữ liệu và các công cụ phân tích đầu tư toàn diện được đội ngũ cập nhật liên tục.</li>
      </ul>
      <p class="text-primary">Để đăng ký sản phẩm TBI-AM, quý nhà đầu tư vui lòng để lại thông tin dưới đây: <a href="">link gg forms</a></p>
    </div>
  </div>
  <div class="border-bottom mb-4" id="div_2">
    <h3 class="text-secondary">TƯ VẤN ĐẦU TƯ</h3>
    <div class="lead">
      <p class="mb-0 font-weight-bolder">INVESTMENT ADVISOR</p>
      <p>Là Hình thức giám sát đầu tư, TBI cộng tác với một số đầu môi giới Công ty chứng khoán top 1 thị trường nhằm Tư vấn đầu tư (cổ phiếu, trái phiếu, chứng chỉ tiền gửi…) cho khách hàng một cách hiệu quả nhất.</p>
      <p class="mb-0 font-weight-bolder">QUYỀN LỢI</p>
      <ul class="mb-3">
        <li>-	Mở tài khoản chứng khoán online miễn phí nhanh chóng: CTCK Techcombank, CTCK VPBank, CTCK VPS.</li>
        <li>-	Giống như một tài khoản ngân hàng, nơi anh chị có thể cất giữ tài sản một cách an toàn, quản lý tài chính cá nhân, thanh toán hóa đơn,...</li>
        <li>-	Miễn phí chuyển tiền vào ra ngân hàng, thuận tiện và nhanh chóng.</li>
      </ul>
      <p class="mb-0 font-weight-bolder">TRÁCH NHIỆM TBI</p>
      <ul class="mb-3">
        <li>-	Sát sao 1:1 trong quá trình đầu tư .</li>
        <li>-	Đưa ra các nhận định khách quan và không cảm tính.</li>
        <li>-	Hỗ trợ thông tin các doanh nghiệp Khách hàng quan tâm.</li>
      </ul>
      <p class="text-primary">Để đăng ký sản phẩm TBI-IA, quý nhà đầu tư vui lòng để lại thông tin dưới đây: <a href="">link gg forms</a></p>
    </div>
  </div>
  <div class="border-bottom mb-4" id="div_3">
    <h3 class="text-secondary">KHOÁ HỌC ĐẦU TƯ</h3>
    <div class="lead">
      <p class="mb-0 font-weight-bolder">INVESTMENT TRAINING</p>
      <p>Là chuỗi bài giảng cung cấp kiến thức nền tảng cơ bản, dễ tiếp cận và thực tế đến khách hàng, định hướng cho khách hàng trở thành nhà đầu tư độc lập trên thị trường chứng khoán.</p>
      <p class="mb-0 font-weight-bolder">QUYỀN LỢI</p>
      <ul class="mb-3">
        <li>-	Được học lại miễn phí đến khi Thông thạo</li>
        <li>-	Có thể áp dụng thực tế, thẩm định case đầu tư ngay sau khi học xong.</li>
      </ul>
      <p class="mb-0 font-weight-bolder">TRÁCH NHIỆM:</p>
      <ul class="mb-3">
        <li>-	Không lan man và học thuật, TBI đưa tới khách hàng những kiến thức gốc rễ nhất khi phân tích doanh nghiệp, tìm kiếm cơ hội đầu tư từ con số không.</li>
      </ul>
      <p class="text-primary">Để đăng ký sản phẩm TBI-IT, quý nhà đầu tư vui lòng để lại thông tin dưới đây: <a href="">link gg forms</a></p>
    </div>
  </div>
</div>
<!-- Part: Footer -->
<include>_footer.html</include>
