<!-- Part: Header -->
<include>_header.html</include>
<div class="slider-main">
  <div class="position-relative">
    <div class="slide-caption d-flex">
      <div class="container align-self-center">
        <p>
          “Chúng ta không mua bán cổ phiếu để kiếm lời.<br/>Chúng ta tìm doanh nghiệp tốt để đồng hành.”
        </p>
      </div>
      <div class="slide-triangle"></div>
    </div>
    <img src="assets/temp/gioi-thieu.jpg" alt="" />
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-4">
      <a href="#div_1" class="btn btn-outline-primary btn-lg mb-5 scrollTo">TRIẾT LÍ ĐẦU TƯ</a>
    </div>
    <div class="col-4">
      <a href="#div_2" class="btn btn-outline-primary btn-lg mb-5 scrollTo">TẦM NHÌN</a>
    </div>
    <div class="col-4">
      <a href="#div_3" class="btn btn-outline-primary btn-lg mb-5 scrollTo">GIÁ TRỊ CỐT LÕI</a>
    </div>
  </div>
  <div class="border-bottom mb-4" id="div_1">
    <h3 class="text-secondary">TRIẾT LÝ ĐẦU TƯ</h3>
    <div class="lead">
      “Chúng ta không mua bán cổ phiếu để kiếm lời. Chúng ta tìm doanh nghiệp tốt để đồng hành”.
      <p><strong>Phương pháp đầu tư</strong></p>
      <p>1.	Phân tích vĩ mô: Lắng nghe sự chuyển động của nền kinh tế để xác định chu kỳ của môi trường kinh doanh thuận lợi hay khó khăn.</p>
      <p>2.	Phân tích ngành: Tìm kiếm ngành được hưởng lợi trong bối cảnh kinh tế. Đôi lúc đội ngũ sẽ phân tích ngành trước vĩ mô dựa trên số liệu có sẵn.</p>
      <p>3.	Phân tích doanh nghiệp: Giai đoạn đội ngũ sẽ đào sâu để tìm catalyst cho từng cổ phiếu nhằm thiết kế danh mục đầu tư.</p>
      <p>4.	Phân bổ tỷ trọng: Phân bổ tỷ trọng hợp lý giúp chúng tôi quản trị danh mục tốt hơn, tránh được các rủi ro bất ngờ từ thị trường, doanh nghiệp.</p>
    </div>
  </div>
  <div class="border-bottom mb-4" id="div_2">
    <h3 class="text-secondary">TẦM NHÌN</h3>
    <div class="lead">
      <p>“TBI tin tưởng sâu sắc vào sự phát triển mạnh mẽ của kinh tế Việt Nam trong nhiều năm tới”</p>
      <p>Việt Nam, cùng với nền tảng nhân khẩu học mạnh mẽ đang được định vị là một trong những đất nước có sự phức tạp kinh tế cần thiết để đẩy nhanh tăng trưởng trong thập kỷ tới. Môi trường chính trị ổn định, chính sách mở cửa ưu đãi đã gia tăng năng lực cạnh tranh của khu vực tư nhân, thu hút được dòng vốn FDI và thúc đẩy xuất khẩu mạnh mẽ qua các năm là minh chứng cho điều này.</p>
      <p>Với những lợi thế đó, Việt Nam sẽ hướng tới là một quốc gia có thu nhập trung bình khá vào 2030 và năm 2045, sẽ trở thành quốc gia có thu nhập cao. Trong quá trình tăng tốc đó, thị trường tài chính Việt Nam - vốn là thước biểu cho nền kinh tế sẽ mang lại nhiều cơ hội cho nhà đầu tư và TBI mong muốn được đồng hành cùng các doanh nghiệp và nhà đầu tư trong hành trình này.</p>
      <p><strong>TBI không ngừng nỗ lực vươn lên để mang lại cho khách hàng hiệu quả bền vững và gia tăng giá trị tài sản</strong></p>
    </div>
  </div>
  <div class="border-bottom mb-4" id="div_3">
    <h3 class="text-secondary">GIÁ TRỊ CỐT LÕI</h3>
    <div class="lead">
      <p>“Phẩm chất là nguồn thức ăn nuôi nâng “Uy Tín” của “Đội Ngũ”</p>
	    <p class="mb-0"><strong>Trung thực - Trách nhiệm:</strong></p>
      <p>Đặt giá trị trung thực và trách nhiệm hàng đầu trong quá trình đầu tư, giữa khách hàng với đội ngũ, giữa cổ đông và nhân sự.</p>
      <p class="mb-0"><strong>An toàn - minh bạch:</strong></p>
      <p>Phương châm của TBI là việc bảo vệ tài sản luôn được đặt lên hàng đầu, tiếp đến mới là phát triển và gia tăng giá trị tài sản.</p>
      <p class="mb-0"><strong>Tiết kiệm thời gian:</strong></p>
      <p>Không mất thời gian tìm hiểu, bám sát thị trường. NĐT có thời gian tập trung cho thế mạnh của mình mà vẫn phát triển được khối tài sản hiện có.</p>
      <p class="mb-0"><strong>Hiệu quả bền vững:</strong></p>
      <p>Tận dụng sức mạnh lãi kép để đem lại lợi suất vượt trội so với các kênh đầu tư truyền thông, đi kèm với kiểm soát rủi ro tối đa.</p>
    </div>
  </div>
</div>
<!-- Part: Footer -->
<include>_footer.html</include>
