<!-- Part: Header -->
<include>_header.html</include>
<div class="slider-main">
  <div class="position-relative">
    <div class="slide-caption">
      <div class="container">
        <h3>THANH BINH INVESTMENT</h3>
        <p>
          HN Thanh Bình là một công ty quản lý đầu tư độc lập, được thành lập với mục tiêu hướng tới môi trường đầu tư văn
          minh - hiệu quả - lợi nhuận ổn định cho khách hàng, thông qua việc đầu tư vào các doanh nghiệp niêm yết tốt nhất
          tại Việt Nam.
        </p>
      </div>
      <div class="slide-triangle"></div>
    </div>
    <img src="assets/temp/home-feature.jpg" alt="" />
  </div>
</div>
<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-secondary btn-lg rounded-pill text-white mb-5">Xem thêm...</button>
    <img class="img-fluid" src="assets/temp/service-advanced.jpg" alt="" />
  </div>
</div>
<div class="our-work">
  <div class="triangle-down"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <div class="row step">
          <div class="col text-primary">
            <h3><span>1</span>Hợp tác đầu tư</h3>
            <p>Hình thức quản lý tài sản mà qua đó, TBI sẽ thực hiện đầu tư giúp Khách hàng.</p>
            <a href="/dich-vu.html#div_1" class="btn btn-primary rounded-pill">Xem thêm...</a>
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/temp/service-1.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="row step bg-primary">
          <div class="col text-light">
            <h3><span>2</span>Tư vấn đầu tư</h3>
            <p>Dịch vụ giám sát đầu tư, TBI cộng tác với một số đầu hệ thống CTCK top 1 thị trường.</p>
            <a href="/dich-vu.html#div_2" class="btn btn-light rounded-pill">Xem thêm...</a>
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/temp/service-2.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-3">
        <div class="row step">
          <div class="col text-primary">
            <h3><span>3</span>Khoá học đầu tư</h3>
            <p>Cung cấp kiến thức nền tảng, dễ tiếp cận và thực tế giúp khách hàng độc lập trên thị trường đầu tư.</p>
            <a href="/dich-vu.html#div_3" class="btn btn-primary rounded-pill">Xem thêm...</a>
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/temp/service-3.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Part: Footer -->
<include>_footer.html</include>
