<!-- Part: Header -->
<include>_header.html</include>
<div class="slider-main">
  <div class="position-relative">
    <div class="slide-caption d-flex">
      <div class="container align-self-center">
        <p>
          “Nếu bạn cần một sự tư vấn tốt.<br/>Hãy liên hệ ngay với chúng tôi.”
        </p>
      </div>
      <div class="slide-triangle"></div>
    </div>
    <img src="assets/temp/gioi-thieu.jpg" alt="" />
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form method="post" class="my-3">
        <input type="hidden" data-form-email="true" />
        <div class="form-group">
          <input type="text" class="form-control" name="name" required="" placeholder="Tên" data-form-field="Name" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" required="" placeholder="Thư điện tử"
            data-form-field="Email" />
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" name="phone" placeholder="Điện thoại" data-form-field="Phone" />
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Nội dung" rows="7"
            data-form-field="Message"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-lg rounded-pill">
            Gửi liên hệ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Part: Footer -->
<include>_footer.html</include>
